<?xml version="1.0"?>

<model>
  <name>tag9 for Aruco</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Carlos Pazos, Agustin Diaz, Bruno Sanchez</name>
    <email>pazosmail@gmail.com</email>
  </author>

  <description>
    For inserting aruco marker
  </description>

</model>
